.App {
  text-align: center;
}


.players {
  
  background-color:  lightgrey;
  margin: 10px;

  height: 45%;
  width: 95%;

}


h3 {
  border-top: 5px dotted rgb(91, 218, 175);
}

h5 {
border-bottom: 5px dotted rgb(72, 206, 206);
}
